 .admin-sidebar {
  width: 230px;
  height: 100vh;
  background: #b71c1c;
  color: white;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
}

.admin-logo {
  margin-bottom: 30px;
  text-align: center;
}

.nav-item {
  display: block;
  color: white;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-decoration: none;
}

.nav-item:hover {
  background: #d32f2f;
}

.logout-btn {
  margin-top: 30px;
  width: 100%;
  padding: 10px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
}
